<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion utilisateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/login.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="login-container">
        <h2>Connexion</h2>
        {% if message %}
        <div class="msg">{{ message }}</div>
        {% endif %}
        <form method="post" autocomplete="off">
            <label for="user_login">Login</label>
            <input type="text" id="user_login" name="user_login" placeholder="Votre Login" required>
            <label for="user_password">Mot de passe</label>
            <input type="password" id="user_password" name="user_password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
            <p>Vous n'avez pas de compte ? <a href="/register">S'inscrire</a></p>
        </form>
    </div>
</body>
</html>
